.upload-images{
   display: flex;
   flex-direction: column;
   text-align: left;
   margin-bottom: 3rem;
}

.upload-images label{
   font-weight: bold;
   margin-bottom: .5rem;
}

.image-input{
   margin-bottom: 1.5rem;
}

.camera-controls {
   display: flex;
   column-gap: 2rem;
   margin-bottom: 1rem; /* Espaço entre os botões e os outros elementos */
}

.capture-button{
   font-weight: bold;
   font-size: 1rem;
   letter-spacing: .5px;
   padding: 1rem 0;
   width: 30%;
}


.camera-video {
   max-width: 100%; 
   height: auto; 
   border: 1px solid #ccc; 
 }